.App {
  margin-top: 0px;
}

.App .navbar-brand {
  font-weight: bold;
}

<<<<<<< HEAD
.App .container{
  align-content: center
=======
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #145c70;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> 45fbc4a0f5502c30d079096e4895b4685f2de9e8
}
